body {

	font-family: Arial, Helvetica, sans-serif;

}


span {
	font-size:16px;
}

h3{
	padding-bottom:18px
}

.btn-tw{
 	width:45%
}
.btn-tw2{
	width:20%
}

.barraCon{
	margin-top: 40px;
}

.boton{
      text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
			text-align:center;
			text-decoration: none;
      font-family: 'Helvetica Neue', Helvetica, sans-serif;
      display:inline-block;
			color: #FFF;
			background: #7F8C8D;
			padding: 7px 20px;
			white-space: nowrap;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 100px;
			margin: 10px 5px;
			-webkit-transition: all 0.2s ease-in-out;
			-ms-transition: all 0.2s ease-in-out;
			-moz-transition: all 0.2s ease-in-out;
			-o-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
}

.rojo{
  background: #E74C3C;
  box-shadow: 0px 5px 0px 0px #C0392B;
}

.rojo:hover{
  background: #ff5242;
}

.rojo:active{
  box-shadow: 0px 2px 0px 0px #C0392B;
}

#centrador{
  position: relative;
  width: 400px;
  height: 400px;
  background-color: red;
}

#imag{
    position: absolute;
    width: 100px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.contenedor {
  display: flex;
}


.main-container .bg-white {
  padding: 20px;
}

.main {
  flex-grow: 1;
  padding: 15px 15px;
}
.main .barra {
  height: 50px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background: #424655;
  min-height: 100vh;
  z-index: 10;
  top: 0;
  left: 0;
}

.logo {
  width: 100%;
  padding: 15px 0;
  text-align: center;
}

.logo-sym {
  vertical-align: middle;
}

.logo-texto {
  margin-left: 10px;
}

.user {
  margin-top: 20px;
  padding-left: 10px;
}

.user img {
  border-radius: 50%;
}

.user-nombre {
  color: white;
  margin-left: 5px;
}

.menu-nav {
  padding-left: 10px;
}

.ancho {
  width: 250px;
}

.ancho-min .user {
  padding-left: 0;
}

.ancho-min .ancho {
  width: 70px;
  align-items: center;
}

.ancho-min .menu-nav {
  padding-left: 0;
}

.ancho-min li.menu-items {
  display: block;
  width: initial;
}

.ancho-min .menu-items span, .ancho-min .logo-texto,
.ancho-min .user-nombre, .ancho-min .menu-titles,
.ancho-min .menu-boton, .ancho-min .menu-nav-seg {
  display: none !important;
}

.menu-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li.menu-items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 230px;
  justify-content: space-between;
}
li.menu-items span {
  margin-left: 1rem;
}

.menu-nav a, .menu-nav .menu-titles {
  color: #C3C3C3;
  padding-top: 2rem;
  display: block;
  text-decoration: none;
}

.menu-nav .menu-titles {
  text-transform: uppercase;
}

.menu-nav a:hover, ul.menu-nav-seg .menu-items-seg a:hover {
  color: #EBEBD3;
}

.menu-nav--icon {
  font-size: 1.3rem !important;
  line-height: 1;
  text-align: left;
  vertical-align: top;
}

ul.menu-nav-seg {
  width: 100%;
  display: none;
  padding-left: 35px;
}

ul.open-menu-nav-seg {
  display: block;
}

ul.menu-nav-seg .menu-items-seg a {
  color: #687384;
  padding-top: 9px;
  display: block;
  text-decoration: none;
}

a.menu-toggle {
  cursor: pointer;
}

#ayuda{
  padding-top:70px;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 50px;

}
#generalvision{
  padding-top:40px;
 
}

#tablasDatos{
  padding-bottom:50px;
}
#tablasDatos2{
  padding-bottom:0px;
}
 
#tituloMenu{
	
  padding-bottom:10px;
  padding-top:10px;
}
 
#tituloMenu2{
  padding-bottom:0px;

}
#imgmalware{
	display: block;
 	margin-left: auto;
	margin-right: auto;
	padding-top:40px;
}
#textoS{
  font-size:1.3em;
  padding-bottom: 30px;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

#textmalware{
	text-align:center;
}



.rad-info-box {
  margin-bottom: 16px;
  box-shadow: 1px 1px 2px 0 #CCCCCC;
  padding: 20px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  background: white !important;
}

.rad-info-box i {
  display: block;
  background-clip: padding-box;
  margin-right: 15px;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  line-height: 60px;
  text-align: center;
  font-size: 4.4em;
  position: absolute;
}

.rad-info-box .value,
.rad-info-box .heading {
  display: block;
  position: relative;
  color: #515d6e;
  text-align: right;
  z-index: 10;
}

.rad-info-box .heading {
  font-size: 1.2em;
  font-weight: 300;
  text-transform: uppercase;
}

.rad-info-box .value {
  font-size: 2.1em;
  font-weight: 600;
  margin-top: 5px;
}
