<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Sherlock vs Moriarty </title>
  
  
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Pacifico'>
<link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>

      <link rel="stylesheet" href= {{ url_for('static', filename='css/style_login.css') }}>
<style>
.login-body{background-image: url(https://sergioalises.com/img/background)}
</style>
  
</head>

<body>

  <html>
	<head>
		<meta charset="utf-8">
		<title>Login to Celyes</title>
	</head>
	<body class="login-body">
		<div class="row ">
		
			<img class="center-block" style="margin-top: 100px; width:65% " src={{ url_for('static', filename='images/logo2.jpg') }} >

		</div>
		<div class="row">
			<div class="input-cart col s12 m10 push-m1 z-depth-2 grey lighten-5">
				<div class="col s12 m5 login">
					<h4 class="center">Log in</h4>
					<br>
					<form action={{url_for('auth.loginUser')}} method="post" autocomplete="off">
						<div class="row">
							<div class="input-field">
								<input type="text" id="user" name="username" class="validate" required="required" placeholder="Nombre">
                <label for="user">
                  <i class="material-icons">person</i>                </label>
							</div>	
						</div>
						<div class="row">
							<div class="input-field">
								<input type="password" id="pass" name="password" class="validate" required="required" placeholder="Password">
								<label for="pass">
                <i class="material-icons">lock</i>
                </label>
							</div>	
						</div>
						<div class="row">
							<div class="switch col s6">
								<label>
									<input type="checkbox">
									<span class="lever"></span>
									Remember Me
								</label>
							</div>
							<div class="col s6">
								<button type="submit" name="login" class="btn waves-effect waves-light blue right">Log in</button>
							</div>
						</div>
					</form>
					<div class="row">
						<span>{{feedback}}</span>	

					</div>
					<div class="row">
					<a href={{url_for('auth.loginTwitter')}}> <img class="twitter center-block " src="{{ url_for('static',filename='images/sign-in.png') }}" alt="twitter"> </a>
					</div>
				</div>
				<!-- Signup form -->
				<div class="col s12 m7 signup">
				<div class="signupForm">
					<h4 class="center" style="padding-bottom:85px">Regístrate</h4>
					<br>
					<form action={{url_for('auth.register')}} name="signup" method="post" autocomplete="off">
						<div class="row">
							<div class="input-field col s12 m6">
								<input type="text" id="name-picked" name="name-picked" class="validate" required="required" placeholder="Introduce un nombre">
								<label for="name-picked">
                       <i class="material-icons">person_add</i>       
                </label>
							</div>
							<div class="input-field col s12 m6">
								<input type="password" id="pass-picked" name="pass-picked" class="validate" required="required" placeholder="Password">
								<label for="pass-picked">
                  <i class="material-icons">lock</i>                    </label>
							</div>	
						</div>
					<div class="row">
						<button type="submit" name="btn-signup" class="btn blue right waves-effect waves-light">Regístrate</button>
					</div>
					</form>

					</div>
					<div class="signup-toggle center" >
						<h4 class="center">¿No tienes cuenta? <a href="#!">Regístrate</a></h4>
					</div>
					<div class="row" style="padding-top:40px">
						<span style="padding-left:350px">{{feedbackReg}}</span>
					</div>
				</div>
				<div class="col s12">
					<br>
          <div class="legal center">
					</div>
					<div class="legal center">
					<div class="col s12 m7 right">
						<p class="grey-text policy center">By signing up, you agree on our <a href="#!">Privacy Policy</a> and  <a href="#!">Terms of Use</a> including <a href="#!">Cookie Use</a>.</p>

					</div>
					<!--
					<div class="col s12 m5">
						<p class="center grey-text" style="font-size: 14px;">Coding : <a href="http://fb.com/celyes01" class="main-title red-text" target="_blank">Celyes</a></p>
					</div>
					</div>
					-->
				</div>
			</div>
		</div>
		
	</body>
</html>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js'></script>

  

    <script  src={{ url_for('static', filename='js/login.js') }}></script>




</body>

</html>
