{% extends "webapp/layout.html" %}
{% block body %}
<div class="main-container">
	 <div class="col-md-11" id="ayuda">   
	 		<p style="text-align:center;">
	 			<b style="font-size:20px">Herramienta para la detección de malware en dispositivos Android utilizando técnicas de Machine Learning</b>
	 		</p>
	 		<img style="padding-top:19px; display:block; margin:auto; padding-bottom:35px" src={{ url_for('static',filename='images/introduccion.png')}} alt="Logo" width="70%">
	 	
		 		<p style="font-size:16px" ALIGN="justify">
		 		En la actualidad los teléfonos móviles se han convertido en una herramienta para centralizar la información privada,
		 		las cuentas, los contactos y los servicios de comunicación. Es habitual que los usuarios de dispositivos Android no 
		 		revisen cuidadosamente los permisos que dan a las aplicaciones durante su instalación, lo que permite la ejecución de código malicioso sin necesidad de atacar ninguna vulnerabilidad. Ante esto los smartphones se han
				convertido en un objetivo atractivo para los ciberdelincuentes. Este Trabajo de Fin de Grado (TFG) propone una herramienta de detección de malware en
				dispositivos Android utilizando técnicas de Machine Learning en base a un conjunto de datos
				etiquetados de diferentes tipos de malware. Estos datos se han obtenido gracias al experimen-
				to de la Universidad de Ben-Gurión (Israel), llamado «Sherlock vs Moriarty: A Smartphone
				Dataset for Cybersecurity Research», los cuales sometiéndoles a diferentes procesos de Data
				Mining han dado lugar a un nuevo conjunto de datos que se utilizará para entrenar un mode-
				lo de aprendizaje supervisado. Este modelo se utilizará para detectar malware a partir de un
				conjunto de datos de entrada.
				Para poder utilizar el modelo de forma sencilla, se ha desarrollado una aplicación web
				que permite gestionar y conocer el estado de seguridad de los dispositivos dados de alta en
				la aplicación. De esta manera se ha conseguido una herramienta de utilidad para aquellos
				auditores de seguridad que deseen conocer el estado de sus dispositivos.				
		 		<p>
		 		<p style="text-align:center; padding-top:20px">
	 			<b style="font-size:16px"> Sergio Alises Mendiola, febrero 2019.</b>
	 		</p>

		 	</div>
		 	
	 </div>	
{% endblock %}

