{% extends "webapp/layout.html" %}
{% block body %}
<div class="main-container ">

<div class="w3-card-4 bg-white barraCon">
  <div class="w3-container w3-brown" style="margin-bottom: 20px; background-color:#636774 !important; ">
    <h3 style="padding-bottom:2px;"></h3> 
  </div>

  <form class="w3-container" action="#" method=post>
    <p>      
    <input class="w3-input w3-border w3-sand"  type="text">
    </p>
 
    <button style="background-color:#636774 !important" class="w3-btn w3-brown">Cambiar Token</button></p>
  </form>
</div>

</body>
</html> 

	</div>
</div>
{% endblock %}

