{% extends "webapp/layout.html" %}
{% block body %}
<div class="container col-lg-12" id="generalvision">
	<div class="row">
		<div class="col-lg-4 col-xs-6">
			<div class="rad-info-box rad-txt-success" style="line-height:3em;">
				
				<img style="float:left" src={{ url_for('static',filename='images/android.png')}} alt="Logo" width="20%">
				<span class="heading">Dispositivos</span>
				<span class="value"><span>{{valoresReturn[0]}}</span></span>
			</div>
		</div>
		<div class="col-lg-4 col-xs-6">
			<div class="rad-info-box rad-txt-primary" style="line-height:3em;">
				<img style="float:left" src={{ url_for('static',filename='images/malw')}} alt="Logo" width="20%">
				<span class="heading">Malware</span>
				<span class="value"><span>{{valoresReturn[1]}}</span></span>
			</div>
		</div>
		<div class="col-lg-4 col-xs-6">
			<div class="rad-info-box rad-txt-danger" style="line-height:3em;">
				<img style="float:left" src={{ url_for('static',filename='images/registro.png')}} alt="Logo" width="22%">
				<span class="heading">Total Registros</span>
				<span class="value"><span>{{valoresReturn[2]}}</span></span>
			</div>
		</div>
	</div>
	<div class="row" style="padding-top:40px;">
		<div class="col-xs-12">
			<div class="panel panel-default">
		     	<div id="chart" style=" background-color:#f9f9f9">
					<embed style="width:800px;display:block;margin:auto" type="image/svg+xml" src= {{ chart | safe }} />
				</div>
			</div>
		</div>
	</div>      
 </div>
{% endblock %}

