<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Sherlock and Moriarty</title>
    <!--<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css'>-->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"> -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style_usuarios.css') }}">
</head>

<body>

  <div class="contenedor">
  <div class="sidebar ancho">
	
    <div class="user">
      <img style="width:35%" src={{ url_for('static',filename=imagen_user) }} alt="">
   
      <span class='user-nombre'>{{nombre}}</span>
    </div>

    <nav class="menu-nav" style="padding-top:30px">
      <ul>
        <li class="menu-items"><a href={{ url_for('webapp.inicio') }}><i class='fa fa-tachometer  menu-nav--icon fa-fw'></i><span>Vista general</span></a>          
        </li>
        <li class="menu-items"><a href={{ url_for('webapp.device')}}><i class='fa fa-mobile menu-nav--icon fa-fw'></i><span class="menu-items">Usuarios</span></a></li>
        <li class="menu-items"><a href={{ url_for('webapp.modelo')}}><i class='fa fa-cog  menu-nav--icon fa-fw'></i><span class="menu-items">Modelo</span></a></li>
        <li class="menu-items"><a href={{ url_for('webapp.ayuda')}}><i class='fa fa-info  menu-nav--icon fa-fw'></i><span class="menu-items">Ayuda</span></a></li>

      </ul>
    </nav>
  </div>
  <div class="main bg-light">
    <div class="barra">
{% if g.user %}
      <div class="col-md-4">

      </div>
	   <div class="col-md-6">


	     <img style="width:50%;" src={{ url_for('static', filename='images/logoapp.jpg') }}>
    </div>

    <div class="col-md-2" style="padding-top:25px">

      <a href="{{ url_for('auth.logout') }}" class="boton rojo">Desconectar</a> 
    </div>

{% endif %}
</div>

  {% block body %}{% endblock %}
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js'></script>
<script src='https://use.fontawesome.com/b5d08f3de3.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'></script>

  
<script  src={{ url_for('static', filename='js/index.js') }}></script>




</body>

</html>
