{% extends "webapp/layout.html" %}
{% block body %}
<div class="main-container" id="ayuda">

<div class="col-md-12">   
 <h2 id="tituloMenu">Datos de entrenamiento</h2>
</div>

 <div class="row" id="tablasDatos2" style="padding-bottom:25px">
        <div class="col-sm-12" id="dTabla">
            <input type="hidden" id="numContact" value="0">
            <table class='table table-striped' id='tabContactos'>
            <thead>
            <tr>
            <th class='titulo1' colspan='10' id='ncontactos'>Información de los datos de entrenamiento del modelo</th>
            </tr>
            <tr>
       	 		<th class='titulo3'>Nº Registros (Filas)</th>
				<th class='titulo3'>Características (Columnas)</th>
                <th class='titulo3'>Nº Registros clase: 0</th>
                <th class='titulo3'>Nº Registros clase: 1</th>
                <th class='titulo3'>Valores perdidos</th>
            </tr>
            </thead>
            <tbody id="Tcont">
        {% for reg in estadisticas %}
        <tr>
            <td>{{reg['id_envio']}}</td>
            <td>{{reg['fechaInicio']}}</td>
            <td>{{reg['fechaFin']}}</td>
            <td>{{reg['nreg']}}</td>
        {% endfor %}  
        </tr>  
           <tr>
            <td>17000</td>
            <td>25</td>
            <td>900</td>
            <td>800</td>
            <td>100</td>
          </tr>  
       </tbody>
            </table>
        </div>
</div>
<div class="col-md-12" style="padding-bottom:15px">   
 <h2 id="tituloMenu2">Validación del modelo</h2>
</div>
<div class="row" id="tablasDatos">
        <div class="col-sm-8" id="dTabla">
            <input type="hidden" id="numContact" value="0">
            <table class='table table-striped' id='tabContactos'>
            <thead>
            <tr>
            <th class='titulo1' colspan='10' id='ncontactos'>Reporte de la predicción</th>
            </tr>
            <tr>
                <th class='titulo3'>Clase</th>
                <th class='titulo3'>Precisión</th>
                <th class='titulo3'>Recall</th>
                <th class='titulo3'>F1-score</th>
                <th class='titulo3'>Soporte</th>
            </tr>
            </thead>
            <tbody id="Tcont">
                <tr>
                    <td>0</td>
                    <td>0.94</td>
                    <td>0.95</td>
                    <td>0.94</td>
                    <td>293</td>
                </tr>
                 <tr>
                    <td>1</td>
                    <td>0.95</td>
                    <td>0.94</td>
                    <td>0.94</td>
                    <td>296</td>
                </tr>  
            </tbody>
            </table>
        </div>
        <div class="col-sm-4" id="dTabla">
            <input type="hidden" id="numContact" value="0">
            <table class='table table-striped' id='tabContactos'>
            <thead>
            <tr>
            <th class='titulo1' colspan='10' id='ncontactos'>Matriz de Confusión</th>
            </tr>
            <tr>
                <th class='titulo3'>Predicción/verdadero</th>
                <th class='titulo3'>No malware (0)</th>
                <th class='titulo3'>Malware (1)</th>

            </tr>
            </thead>
            <tbody id="Tcont">
                 <tr>
                    <td>0</td>
                    <td>279</td>
                    <td>14</td>
                </tr> 
                <tr>
                    <td>1</td>
                    <td>19</td>
                    <td>277</td>
                </tr> 
            </tbody>
            </table>
        </div>

</div>
<!--
<div class="row" id="tablasDatos">
        <div class="col-sm-12" id="dTabla">
            <input type="hidden" id="numContact" value="0">
            <table class='table table-striped' id='tabContactos'>
            <thead>
            <tr>
            <th class='titulo1' colspan='10' id='ncontactos'>Revelancia de variables - Top 5</th>
            </tr>
            <tr>
                <th class='titulo3'>Variable 1</th>
                <th class='titulo3'>Variable 2</th>
                <th class='titulo3'>Variable 3</th>
                <th class='titulo3'>Variable 4</th>
                <th class='titulo3'>Variable 5</th>
            </tr>
            </thead>
            <tbody id="Tcont">

            </tbody>
            </table>
        </div>
</div>
-->
</div>

{% endblock %}

