{% extends "webapp/layout.html" %}
{% block body %}
<div class="main-container" id="ayuda">
   
    <div class="col-md-12">
     <h2 id="tituloMenu" style="font-weight: bold; font-size: 22px">Informe de seguridad: {{nombreUser}}</h2>
     <hr>
    </div>

    <div class="col-md-6">
            <div class="col-sm-12" id="dTabla" style="width:100%;padding-top:40px; text-align: center; ">
                <input type="hidden" id="numContact" value="0">
                <table class='table table-striped' id='tabContactos'>
                <thead>
                <tr>
                <th class='titulo1'  colspan='10' id='ncontactos'>Resultado análisis de seguridad</th>
                </tr>
                <tr>
           	 		<th class='titulo3' style="text-align: center">Variable</th>
    				<th class='titulo3' style="text-align: center" >Cantidad</th>
                </tr>
                </thead>
                <tbody id="Tcont">
                   <tr>
                    <td>Registros Analizados</td>
                    <td>{{numEscaneados}}</td>
                  </tr> 
                  <tr>
                    <td>No maliciosos</td>
                    <td>{{numPos}}</td>
                  </tr> 
                  <tr>
                    <td>Maliciosos</td>
                    <td>{{numNeg}}</td>
                  </tr>  
                </tbody>
                </table>
            </div>
    </div>
    {% if negbuen > 10 %}
    <div class="col-md-6" style="padding-top:15px">
    <img id="imgmalware" style="width:22%" class="img-responsive" src={{ url_for('static', filename='images/malware.png') }} alt="">
    <h2 id="textmalware" style="font-weight: bold; font-size: 20px">MALWARE DETECTADO</h2>
    </div>
     <div class="col-md-12">
     <h2  style="font-weight: bold; font-size: 18px;padding-top:10px">Recomendaciones de seguridad </h2>
    <hr>
    </div>
    
    <div class="col-md-8">
    <span  style="font-size:16px">{{textoM}}</span>
    </div>


    {% else %}
     <div class="col-md-6" style="padding-top:15px">
    <img id="imgmalware" style="width:22%" class="img-responsive" src={{ url_for('static', filename='images/check.png') }} alt="">
    </div>
     <div class="col-md-12">
     <h2  style="font-weight: bold; font-size: 18px;padding-top:10px">Recomendaciones de seguridad </h2>
    <hr>
    </div>
    
    <div class="col-md-8">
    <span  style="font-size:16px">{{textoV}}</span>
    </div>

    {% endif %}
   
</div>
{% endblock %}

