{% extends "webapp/layout.html" %}
{% block body %}
<style>
* {box-sizing: border-box;}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: #424655;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid #424655;
}

/* Set a style for the submit button */

</style>
<div class="container col-md-12 fluid">

    <p>&nbsp;</p>

    <p>&nbsp;</p>
    <div class="row">
        <div class="col-sm-12" id="dTabla">
            <input type="hidden" id="numContact" value="0">
            <table class='table table-striped' id='tabContactos'>
            <thead>
            <tr>
            <th class='titulo1' colspan='10' id='ncontactos'>USUARIOS</th>
            </tr>
            <tr>
            	<th class="titulo3">Eliminar</th>
				<th class='titulo3'>Empleado</th>
                <th class='titulo3'>Nombre</th>
                <th class='titulo3'>Apellidos</th>
                <th class='titulo3'>Token</th>
                <th class='titulo3'>Detalles</th>
            </tr>
            </thead>
            <tbody id="Tcont" >
			{% for user in users %}
          	<tr>
          		<td><button type="button" onclick="window.location.href='http://127.0.0.1:5000/delete/{{user['id']}}'"><i class="fa fa-trash"></i></button></td>
				<td id="idp">{{user['id']}}</td>
				<td>{{user['Nombre']}}</td>
				<td>{{user['Apellidos']}}</td>
				<td>{{user['token']}}</td>
				<td><button type="button" onclick="window.location.href='http://127.0.0.1:5000/user/{{user['id']}}'"><i class="fa fa-info"></i></button></td>
	       </tr>

          	{% endfor %}
            </tbody>
            </table>
        </div>
    </div>
	<div class="row" style="padding-top:40px; ">

        <div style="padding:10px 25px 25px 25px;">
	  	<form class="w3-container" action={{url_for('webapp.addUser')}} method=post>
  			<h3 class='titulo1' colspan='10' id='ncontactos' style="padding-bottom:11px;padding-top:11px;">AÑADIR USUARIO</h3>
  			  <div class="input-container">
    			<i class="fa fa-user icon"></i>
    			<input class="input-field" type="text" placeholder="Nombre" name="usrnm">
 			 </div>

			  <div class="input-container">
			    <i class="fa fa-envelope icon"></i>
			    <input class="input-field" type="text" placeholder="Apellidos" name="surname">
			  </div>

			  <div class="input-container">
			    <i class="fa fa-key icon"></i>
			    <input class="input-field" type="text" placeholder="Token" name="token">
			  </div>

	 		<button class="btn btn-success btn-lg btn-block" id="boton-abrirModal"style="margin-top:20px" type=submit >Añadir</button>
	  	</form>
            
        </div>

	</div>


</div>

{% endblock %}