{% extends "webapp/layout.html" %}
{% block body %}
<div class="container col-md-12 fluid">

    <p>&nbsp;</p>
    <h3 style="text-align:center;padding-top:10px"> Usuario: {{nomApe}}</h3>
    <p>&nbsp;</p>
    <div class="row">
        <div class="col-sm-12" id="dTabla">
            <input type="hidden" id="numContact" value="0">
            <table class='table table-striped' id='tabContactos'>
            <thead>
            <tr>
            <th class='titulo1' colspan='10' id='ncontactos'>Historial de envíos</th>
            </tr>
            <tr>
        <th class='titulo3'>ID</th>
				<th class='titulo3'>Fecha de Inicio</th>
                <th class='titulo3'>Fecha Fin</th>
                <th class='titulo3'>Nº Registros recibidos</th>
            </tr>
            </thead>
            <tbody id="Tcont">
        {% for reg in estadisticas %}
        <tr>
            <td>{{reg['id_envio']}}</td>
            <td>{{reg['fechaInicio']}}</td>
            {% 	if reg['fechaFin'] %}
	            <td>{{reg['fechaFin']}}</td>
	            <td>{{reg['nreg']}}</td>

	        {% else %}
	        	<td>Enviando</td>
	            <td>...</td>
	        {% endif%}
        {% endfor %}    
       </tbody>
            </table>
        </div>
    </div>
    <p>&nbsp;</p>
   
    <button class="btn btn-success btn-lg btn-block" onclick="window.location.href='http://127.0.0.1:5000/enviar/stop/{{id_us}}'" id="boton-abrirModal"style="margin-top:20px;background-color:#D72B2B" type=submit >Parar de recibir datos</button>

    {% if estadisticas %}
        <button class="btn btn-success btn-lg btn-block" onclick="window.location.href='http://127.0.0.1:5000/modelo/{{id_us}}'" id="boton-abrirModal"style="margin-top:20px" type=submit >Ejecutar Análisis de seguridad</button>
    {% endif %}
</div>

{% endblock %}