<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Agente Android</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href={{ url_for('static', filename='style.css') }}>

</head>

<body>

<div id="presentation" >
  <div id="block">
    <h1>TFG - Sergio Alises</h1>
    <h3>Sherlock and Moriarty</h3>
    <p class="name"></p>
  </div>
</div>

<div id="page">
<div id="container">
  <div class="lock-button" onclick="lock()">Lock</div>
  <div class="volumeup" onclick="volumeup()">+</div>
  <div class="volumedown" onclick="volumedown()">-</div>
  <div id="screen" onclick="bounce()">
    <div id="container-volume">
      <i class="material-icons ring">volume_up</i>
      <input type="range" id="myRange" value="0" min="0" max="10">
    </div>
    <div id="lockscreen">
      <div id="glass-effect"></div>
      <div id="banner">
        <p class="carrier">vodafone IT</p>
        <div class="wifi"></div>
        <div class="phone-icon"></div>
        <div class="battery"></div>
        <img class="profile" src="https://lh3.googleusercontent.com/-X-aQXHatDQY/Uy86XLOyEdI/AAAAAAAAAF0/TBEZvkCnLVE/w140-h140-p/fb3a11ae-1fb4-4c31-b2b9-bf0cfa835c27" />
      </div>
     <div id="cont"> 
        <p class="time" id="time-lockscreen"></p>
        <p id="date"></p>
      </div>
      
      <p id="unlock">Swipe up to unlock</p>
      
      <i class="material-icons phone" id="dialer" onclick="phone()">phone</i>
      <span class="white-select-left"></span>
      <span class="lock"></span>
      <i class="material-icons camera" onclick="camera()" id="camera">photo_camera</i>
      <span class="white-select"></span>
    </div>
    
    <!--  Launcher Page  -->
    
    <div id="launcher">
      <div id="slide-in">
        <div id="banner">
          <div class="wifi main-banner"></div>
          <div class="phone-icon main-banner"></div>
          <div class="battery main-banner"></div>
          <p id="time"></p>
        </div>
        <div id="drawer" style="background-color:white;">
            <!--<span class="drawer-z" onclick="drawer()"></span>-->
            <form class="w3-container" action={{ url_for('escaner') }} method=post>
            <img style="padding-top:19px" src={{ url_for('static',filename='img/logoapp.jpg')}} alt="Logo" width="77%">
             <hr>
            <div style="padding-top:30px; font-size:17px">
            	<label>Escenario</label>
	        <select style="font-size:15px" name="comp_select" width="80px">
				<option value="00">Benigno</option>
  				<option value="11">Maligno</option>
			</select>
			</div>
			<div style="padding-top:20px">
                <label style="font-size:17px">Token</label>
                <input style="width:100px" name="agente" type="text">
            </div>
              <div style="padding-top:25px">

              <button class="boton_personalizado" style="width:120px" >Iniciar</button>
              </div>
            </form>
            <form  style="padding-top: 10px"class="w3-container" action={{ url_for('stopEnvio') }} method=post>
            <button class="boton_personalizado" type=submit style="width:120px;">Parar</button>
            </form>

        </div>
        <div id="drawer-bar">
          <!--<span class="drawer-icon" ></span>-->
        </div>
        <div id="navigation-bar">
          <span class="back"></span>
          <span class="home" onclick="home()"></span>
          <span class="recent"></span>
        </div>
      </div>
    </div>
     
    <!--  Camera Page  -->
    
    <div></div>
    
    <!--  Dialer Page  -->
    
    <div></div>
    
    
  </div>
</div>

  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script  src={{ url_for('static', filename='js/index.js') }}></script>



</body>

</html>
